.peg {
  margin: 0px auto;
  width: 50%;
}
.title {
  text-align: center;
  margin: 10px;
}
.formSearch {
  margin: 0px auto;
  width: 70%;
  display: flex;
  justify-content: space-between;
}
.btn1,
.btn2 {
  width: 100px;
  height: 50px;
}

input {
  height: 50px;
}
table {
  margin: 10px auto;
}

td {
  border: black 2px solid;
  text-align: center;
  height: 50px;
  width: 200px;
}
img{
    height: 200px;
    height: 100px;
}
